<div class="container">
  <br>

  <table class="table table-bordered table-color">
    <caption>List of Auditions</caption>
    <thead class="thead-dark">
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">ARTIST</th>
      <th scope="col">EMAIL</th>
      <th scope="col">GENRES</th>
      <th scope="col">SUBMITTED</th>
      <th scope="col">LINKS</th>
      <!-- <th scope="col">ASSIGNED TO</th> -->
      <th scope="col">STATUS</th>
      <!-- <th colspan="6"></th> -->
    </thead>

    <tbody>
      <%= render @auditions %>
    </tbody>
  </table>
<br>

