<div class="container">
  <br>
    <%= render partial: 'auditions' %>
  </table>
</div>

<div class="modal fade" id="auditionModal" tabindex="-1" aria-labelledby="auditionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-size">
    <div class="modal-content">
      <div id="show-audition"></div>
      </div>
  </div>
</div>
