<h4>Hello, <%= @email %></h4>
===============================================

<p>The following audition has been assigned to you:</p>

<p>Audition Details:</p>
<p>Audition ID: <%= @audition.id %></p>
<p>Audition name: <%= @audition.artist_name %></p>

<p>Please take a look and have a great day!</p>
