@media (min-width: 1025px) {
  .h-custom {
    max-height: 100% !important;
    height: 100% !important;
  }
}

body {
  background: #ccc !important;
}

display-flex, .form-flex{
  display: flex;
  display: -webkit-flex;
}

.card {
  margin-bottom: 25vh;
}

.form-radio {
  margin-bottom: 40px;
}

.form-radio input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.form-radio input + label {
  margin: 0px;
  padding: 12px 10px;
  width: 94px;
  height: 50px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  text-align: center;
  border: 1px solid #ebebeb !important;
  background-color: #FFF;
  font-size: 14px;
  font-weight: 600;
  color: #888;
  text-align: center;
  text-transform: none;
  transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}

.form-radio input:checked + label {
  background-color: #ffffff;
  color: #000000;
  border-color: #C3CAD2 !important;
  z-index: 1;
}

.style-me {
  margin-left: 10px;
}

.form-flex input + label:first-of-type {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  border-right: none;
}

.form-flex input + label:last-of-type {
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-left: none;
}

hr {
  background-color: black !important;
  color: black !important;
}
